*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans JP";
}

.cartIconOuter[data-show="0"]{
    display: none;
}

.cartIconOuter[data-show="1"]{
    display: block;
}

.cartIconOuter{
    position: sticky;
}

.cartIcon{
    position: relative;
}

.intoCartNumber{
    position: absolute;
    left: 45px;
    top: -45px;
    border-radius: 100%;
    text-decoration: none;
    display: block;
}